/* GENERAL */

.newscontainer{
    width: auto;
    border: none;
    border-radius: 8px;
height: auto;
margin-right: 2px;
margin-left: 2px;
margin-bottom: 5px;;
background-color: white;



}
.title{
    padding-bottom: 5px;
}
.img-c{
border-radius: 8px;
}
.img-news{
width: 100%;
height: 200px;
border-radius:8px;
}


.textcontainer > p{
padding: 5px;
margin-bottom: 5px;
}